<%= @letters.inspect%>
<%= params[:word]%>
<h1 class="text-xl">Games</h1>
<div class="flex gap-10 mt-10">
  <% @letters.each do |letter| %>
    <div class="flex items-center justify-center letter-square text-white">
      <span>
        <%=letter%>
      </span>
    </div>
  <% end %>
</div>
<form action="/score" method="post" data-turbo="false" class="w-full max-w-sm mt-10">
  <div class="flex items-center border-b border-teal-500 py-2">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" name="word" type="text" placeholder="Jane Doe" aria-label="Full name">
    <button class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded" type="submit">
      Send
    </button>
  </div>
</form>
